@use 'variables' as *;

/* ===========================
   BLOQUE 2: Perfil Profesional
   =========================== */
.teaser {
    margin-bottom: $sp-4;

    &__card {
        background: color-mix(in oklab, $color-accent 9%, #fff);
        border: 2px solid $color-accent;
        border-radius: $radius;
        padding: $sp-3;
        max-width: 740px;
        margin-inline: auto;
        box-shadow: $shadow;

        p {
            margin: 0;
            font-size: $fs-300;
            line-height: 1.7;
        }
    }
}