/* usa los parciales que ya tienes en la raíz de /sass */
@use 'variables' as *;   // <- toma las variables sin namespace
@use 'personal';
@use 'teaser';
@use 'skill';

/* utilidades opcionales */
.visually-hidden {
  position: absolute;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0 0 0 0);
  white-space: nowrap; border: 0;
}
